name = "food-lemmih-com"
main = ".wrangler/dist/worker/worker.js"
compatibility_date = "2024-11-23"
workers_dev = true

[[routes]]
pattern = "food.lemmih.com"
custom_domain = true

[build]
command = "nix build .#website -o .wrangler/dist"

[assets]
directory = ".wrangler/dist/assets"
binding = "ASSETS"
not_found_handling = "single-page-application"

[env.e2e]
main = "result/worker/worker.js"

[env.e2e.assets]
directory = "result/assets"
binding = "ASSETS"
not_found_handling = "single-page-application"

[env.preview]
main = "result/worker/worker.js"
workers_dev = true
routes = []

[env.preview.assets]
directory = "result/assets"
binding = "ASSETS"
not_found_handling = "single-page-application"
